html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:active {
    text-decoration: none;
  }

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ---------MY CODE ---------- */
.bg-main {
    background:rgb(35, 35, 35); 
}

.sidenav {
    position: fixed; 
    z-index: 1;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(29, 29, 29); 
    overflow-x: hidden;
    height: 100vh;
}

.social {
    margin-top: 90% !important;
    padding: 8px 16px 8px 10px;
    text-decoration: none;
    font-size: 0.8rem;
    color: #797979;
    display: block;
    text-align: center;
}

.social a:hover i{
    padding: 8px 16px 8px 10px;
    color: #00f120;
    display: block !important; 
}

.sidenav a {
    text-decoration: none; 
    padding: 8px 16px 8px 10px;
    font-size: 16px;
    color: #797979;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  

.sidenav ul {
    z-index: 1; 
    overflow-x: hidden;
    padding-top: 10px;
    
}
.sidenav li{
    display: block;
}
.sidenav li b{
    display: none;
}
.sidenav a:hover b {
    padding-top: 20px;
    color: #00f120;
    display: block;
}
.sidenav li a{
    text-decoration: none; 
    padding-top: 20px;
    display: block;
}

.sidenav a:hover i {
    display: none;
}
.active, .btn:hover {
    color: #00f120;
  }

.brand { 
    text-decoration: none;
    position: relative;

    display:flex;
    align-items:center;
    justify-content: center;
}
.brand:before {
    text-decoration: none;
    content: "HS";
    color: #ff004e;
    font-size: 18px;
    font-family: "HEAVITAS", "Helvetica Rounded", Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    z-index: 99999 !important;
}
  
.logo{
    animation: 5s linear infinite;
    animation-name: rotate-0;
    animation-delay: 0s;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
}
  
  
svg path{
    position: absolute;
    fill:none;
    stroke-width:1;
    top:0;
    left:0;
    /*mix-blend-mode: multiply;*/
    transform-origin: 50% 50%;
    transform: rotate(0deg) ;
    animation: 4s linear infinite;
}
  
.logo svg path:nth-child(1) {
    opacity: 1;
    animation-name: rotate-1;
    animation-delay: .5s;
}
.logo svg path:nth-child(2) {
    opacity: .5;
    animation-name: rotate-2;
    animation-delay: .6s;
}
.logo svg path:nth-child(3) {
    opacity: .8;
    animation-name: rotate-3;
    animation-delay: .7s;
}
  
  
@keyframes scale-1 {
    0%{
      transform: scale(1);
    }50% {
      transform: scale(.9);
    }100% {
      transform: scale(1);
    } 
}
  
@keyframes rotate-0 {
    from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
} 
  
@keyframes rotate-1 {
    from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
}
  
@keyframes rotate-2 {
    from { transform: rotate(0deg); }
      to { transform: rotate(-360deg); }
}
  
@keyframes rotate-3 {
    from { transform: rotate(0deg); }
      to { transform: rotate(0deg); }
}

/* Main body code*/
.types {
    min-height: 300px;
    position: relative;
    margin-top: 100px;
    width: 500px;
    max-width: 100%;
    box-shadow: 1px 2px 5px rgba(0,0,0,.6);
}

/*................ Button code*/
.appbuttons {
    /*overflow: hidden;*/
    max-width: 100%;
    position: relative;
    display: inline-block;
    padding: 20px;
    
}

.appbuttons a {     
    -moz-border-radius: 8px;
    border-radius: 5px;
    background-color: #2a2e36;
    box-shadow: 1px 2px 5px rgba(0,0,0,.6);
    position: relative;
    display: inline-block;
    padding: 15px;
    color: #00f120;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    font-weight: bold;
}
.appbuttons a:hover {
    text-decoration: none;
    border:2px solid #00f120;
    color: #00f120;
	transition: all 0.2s ease;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(9, 255, 0, 0.55);
	-moz-box-shadow: 0px 0px 15px 5px rgba(21, 255, 0, 0.55);
	box-shadow: 0px 0px 15px 5px rgba(0, 255, 0, 0.55);
}
.appbuttons span {
  position: relative;
}

.appbuttons a:active {
	position:relative;
	top:1px;
}

 @media screen and (max-width :675px) {
.appbuttons {
	height: 70px;
	width: 96%;
}
}

/* Window */

.window-icon div {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #00f120;
}

.window-icon div span{
    color: #F44336;
}

.window-icon div p{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


.window-icon {
    min-height: 300px;
    margin-top: 100px;
    width: 500px;
    max-width: 100%;
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 16px;
    font-family: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    border-radius: 4px;
    padding: 40px 20px 20px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    box-shadow: 1px 2px 5px rgba(0,0,0,.6);
}

.window-icon:before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    /* A little hack to display the window buttons in one pseudo element. */
    background: #d9515d;
    -webkit-box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
            box-shadow: 25px 0 0 #f4c025, 50px 0 0 #3ec930;
}

.window-icon:after {
    content: '';
    position: absolute;
    color: var(--color-text-subtle);
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}

/*contact_form*/
.form-group{
    margin-bottom: 0rem !important;
}

/*Social Media_contact_page*/
@import 'http://codepen.io/chrisdothtml/pen/ojLzJK.css';
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
          transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.linkedin:before {
  background-color: #3b5998;
}
.social-btns .btn.linkedin .fa {
  color: #3b5998;
}
.social-btns .btn.at:before {
  background-color: #ff8533;
}
.social-btns .btn.at .fa {
  color: #ff8533;
}
.social-btns .btn.phone:before {
  background-color: #9317aa;
}
.social-btns .btn.phone .fa {
  color: #9317aa;
}
.social-btns .btn.whatsapp:before {
  background-color: #25D366;
}
.social-btns .btn.whatsapp .fa {
  color: #25D366;
}
.social-btns .btn.share-alt:before {
  background-color: #00aff0;
}
.social-btns .btn.share-alt .fa {
  color: #00aff0;
}
.social-btns .btn.heart-o:before {
    background-color: #e31b23;
  }
  .social-btns .btn.heart-o .fa {
    color: #e31b23;
  }
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  margin: auto;
  font-size: 0;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 80px;
  height: 80px;
  line-height: 70px;
  margin: 20px 10px 10px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0,0,0,0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
